[Unit]
Description=MQC Shell Daemon (qshd)
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/usr/local/bin/qshd \
    --tpm-path=/home/ubuntu/.TPM/factsorlie.com
Restart=on-failure
RestartSec=5
TimeoutStopSec=5
Environment=HOME=/home/ubuntu
Environment=LD_LIBRARY_PATH=/usr/local/lib

[Install]
WantedBy=multi-user.target
